[Unit]
Description=yiot daemon
After=network-online.target firewalld.service
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/yiot
ExecStart=/opt/yiot/pc/yiot-device-app-linux
ExecStop=killall -9 yiot-device-app-linux
StandardOutput=append:/var/log/yiot-device.log
StandardError=append:/var/log/yiot-device-error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
