Format: 3.0 (quilt)
Source: yiot-rpi
Binary: yiot-rpi
Architecture: any
Version: {{MAJOR_VER}}.{{MINOR_VER}}.{{SUB_VER}}-{{BUILD_VER}}
Maintainer: YIoT <support@yiot.com>
Homepage: https://yiot.com
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8)
Package-List:
 yiot-rpi deb IOT/tools optional arch=any
